.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #00f0ff;
}